.divider{
    margin-top: 20px;
    background-color: aqua;
    text-align: center;
}
.column{
    text-align: center;    
}

.box{
    border: 1px solid black;
    margin: 20px auto;
    width: 500px;
}

.column button,
.column div{
    display: inline-block;
    width: 30px;
}

.smallBox{
    border: 1px solid red;
    width: 30px;
    height: 30px;

}

/* .heart{
    /* width: 100%; */
    /* height: auto; */
    /*object-fit: contain;
} */

.btn-circle.btn-md { 
    width: 50px; 
    height: 50px; 
    padding: 7px 10px; 
    border-radius: 25px; 
    /* font-size: 40px; */
    /* text-align: center; */
    
}

.plus{
    text-align: center;
    font-size: 60;
}
