.divider{
    margin-top: 20px;
    background-color: #6D90B4;
    text-align: center;
    color: white
}
.column{
    text-align: center;    
}

.box{
    border: 1px solid black;
    margin: 20px auto;
    width: 500px;
}

.column button,
.column div{
    display: inline-block;
    width: 30px;
}

.smallBox{
    margin: 20px 80px -40px;    
    width: 50px;
    height: 30px;
}

.smallBox:hover{
    cursor: pointer;
} 

.btn-ninja{
    height: 30px;
    padding: 0px 0px 5px;
    border-radius: 25px;
    font-size: 35px;
    text-align: center;
    color: #fff;
    background-color: #72B2CD;
    line-height: 8px;
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
}

.small-image{
    margin: 0px 0px 0px;    
    width: 100px;
    height: 100px;
}

.small-image img{
    width: 100px;
    height: 100px;
    object-fit: contain;
}
.row2{
    display: inline-block;
    width: 20px;
}